.roamjs-services-list {
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
}

.roamjs-services-list > li {
  padding: 0px 16px;
  display: block;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  cursor: pointer;
}

.roamjs-services-list > li:hover {
  box-shadow: rgb(27 32 43 / 10%) 0px 2px 16px;
}

.roamjs-services-list > li:nth-child(3n + 2) {
  border-left: 1px solid rgb(232, 233, 234);
  border-right: 1px solid rgb(232, 233, 234);
}

.roamjs-services-list span {
  margin: 0;
}

.roamjs-services-list div.MuiListItemAvatar-root {
  min-width: 40px;
}

.roamjs-services-item {
  padding-left: 0;
}

.MuiButton-textSecondary:hover {
  color: #FF842F;
}
